.modal-body {
    background-color: rgba(0, 0, 0, 0.113);
}
.login-form {
    max-width: 300px;
    margin: auto;
}
.filter-container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    width: max-content;
}